@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
     overflow-x: hidden;
    
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0,0,0);
   
}
header{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
   
   
}
header > nav{
    color: azure;
    overflow: hidden;
}  
nav > a{
    text-decoration: none;
    color: azure;
    padding: 15px;
    border-radius: 20px;
    transition: .5s;
}
nav > a:hover{
    background-color: rgba(128, 128, 128, 0.183);

}
header > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(200, 0, 0);
    padding: 15px;
}

section{
    margin: auto;
    max-width: 95vw;
}

section > h2{
    color: rgb(243, 243, 243);
    padding: 20px;
}
.video-container{
    margin: 0px -23px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
    margin-bottom: 15px;
}
.video-container > iframe{
    position: absolute;
    top: 2%;
    left: 6%;
    width: 90%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.426);
    max-height: 600px;
    max-width: 900px;
    
}
h3{
    font-size: 1.5em;
    color: white;
    float: left;
    padding: 10px;
}
button{
    margin: 2px;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: darkred;
    float: right;
}
button:hover{
    background-color: rgba(139, 0, 0, 0.431);
    cursor: pointer;
    
    transition: .3s;
}
img{
    width: 90vw;
    max-width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 20px;
    transition: 1s;
}

#twd:hover{
    box-shadow: 2px 2px 40px #a51515;
    transition: 1s;
    
}
#const:hover{
    box-shadow: 2px 2px 40px #af5804;
    transition: 1s;
    
}
#harry1:hover{
    box-shadow: 2px 2px 40px #0158b6;
    transition: 1s;
    
}
#harry2:hover{
    box-shadow: 2px 2px 40px #1f8c6c;
    transition: 1s;
    
}
#harry3:hover{
    box-shadow: 2px 2px 40px #af5804;
    transition: 1s;
    
}
#harry4:hover{
    box-shadow: 2px 2px 40px #441478;
    transition: 1s;
    
}
#harry5:hover{
    box-shadow: 2px 2px 40px #3a6360;
    transition: 1s;
    
}
#harry6:hover{
    box-shadow: 2px 2px 40px #ca690e;
    transition: 1s;
    
}
#harry7:hover{
    box-shadow: 2px 2px 40px #68818f;
    transition: 1s;
    
}
#watchmen{
    display: none;
}
#avatar2:hover{
    
    box-shadow: 2px 2px 40px #026fb1;
    transition: 1s;
    
}
#avatar2{
    display: none;
}

